@media screen and (max-width:600px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    .header,
    main {
        /* margin-left: 20px; */
        margin: 10px 30px;
    }

    .navbar {
        display: none;
    }

    .hide {
        display: inline;
        /* padding: 15px; */
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

    }

    .nav-img {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .nav-img img {
        width: 50px;
        height: 50px;
    }

    .group-13-div {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .from-design {
        width: 200px;
        flex-direction: column;
        gap: 4px;
        /* padding: 16px 65px; */
    }

    .travel-head {
        font-size: 30px;
        /* padding: 70px 88px 0px; */
        padding: 10px;
    }

    .from-design {
        font-size: 15px;
        display: flex;
        padding: 0 6px;
        width: 80%;
        margin: 10px auto;
        /* align-items: flex-start; */
        justify-content: center;
        align-items: center;
        /* margin-left: 241px; */
        gap: 5px;
        background: rgba(255, 255, 255, 0.30);

    }

    .tour-pan {
        display: flex;
        flex-direction: column;
        margin-bottom: 650px;
    }

    .img-heading img {
        width: 100%;
    }

    main {
        width: 80%;
        /* padding: 0 16px; */
    }

    .heading {
        /* padding: 0 16px; */
    }

    .destination,
    .why-choose-class {
        width: 100%;
    }
    .destination{
        padding: 0;
        margin: 0;
    }
    .maldives, .indonesia, .srilanka, .north-america, .kashmir, .bangladesh, .bandarban{
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;

    }

    .destination-head {
        padding-top: 30px;
        /* padding-left: 80px; */
    }

    .destination-description {
        /* padding-left: 80px; */
    }

    /* .srilanka{
        background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 6.png);
        background-size: cover;
        background-position: center;
    } */
    .destination-img {
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
        background-size: cover;
    }

    .destination-img > div {
        width: 100%;
        padding: 0;
        margin: 10px 0;
    } 

    .why-choose-class {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* margin-bottom: 1900px; */
        margin: 0;
        padding: 0;

    }

    .destination-head {
        padding-top: 30px;
        /* padding-left: 80px; */
    }

    .destination-description {
        padding-top: 30px;
        /* padding-left: 80px; */
    }

    .hotel-value {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 10px auto;
    }

    .best-price-guarantee,
    .world-class-service,
    .handpicked-hotels {
        width: 90%;
    }

    /* .best-price-guarantee,
    .world-class-service,
    .handpicked-hotels p {
        width: 80%;
    } */

    .newsleter-section {
        padding: 0;
        margin: 0;
        width: 100%;
        flex-direction: column;

    }

    .newsletter-img {
        width: 100%;
        padding: 0;
        margin: 0;
        /* position: absolute; */
    }

    .img-news {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .discount p {
        font-size: 16px;
        padding: 0;

    }

    .discount {
        bottom: 6%;
        right: 2%;
    }

    .newsletter {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .newsletter-text {
        width: 100%;
        margin: 0;
        padding: 10px;
        /* margin-top: -1354px;  */
    }

    #input {
        width: 90%;
        margin-left: 10px;
        /* margin: 20px; */
    }

    .icon {
        /* width: 174.322px; */
        /* height: 24px; */
        margin: 10px auto;
        padding: 0;
        display: flex;
        gap: 15px;
        justify-content: center;
        /* padding-left: 199px; */
    }

    .footer {
        padding: 14px;
        width: 100%;
        /* max-width: 500px; */
        padding: 40px 10px;
        /* margin-top: -931px; */
        /* margin-bottom: -69px; */
        margin-bottom: 0px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer-div {
        width: 100%;
        padding: 0;
        /* margin: 0 auto; */
        justify-content: center;
    }

    .footer-description {
        width: 80%;
        padding: 0;
        margin: 10px auto;
    }

    .reserve {
        margin: 0 auto;
        padding: 0;
    }

    .hr {
        padding: 0 20px;
        width: 100%;
        margin: 10px auto;
    }

    /* .footer-div{
        width: 500px;
        padding-top: 100px;
    } */
}